// vars
$bg1: black;
$text1 : aqua;

header {
  background-color: $bg1;
  h1 {
    color: $text1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background-color: $bg1;
  p{
    color: $text1;
  }
}
